/*******************************************************************************
Tamplate Name : Couple
Template Version: 1.0
Template Author: Themeonlab
Template Author url: http://themeonlab.com
*******************************************************************************/
/*******************************************************************************
[Tabele Of Contents]

    1. Body
        1. Top Part
            1. Logo /.logo
            2. Nav Menu /.menu
            3. Slider /.main-slider
		2. Bride Groom Section /.bride_groom_sec   
        3. Parallex Section 1/ .parallex_sec_1
        4. Love Story Section / .love_story_sec
        5. Parallex Section 2/ .parallex_sec_2
        6. Our Family section /.family_sec
        7. Photo Gallery Section /.photo_gallery_sec
        8. Event and Party Section /.event_party_sec
        9. Parallex Section 3 /.parallex_sec_3
        10. BrideMaid and GroomsMen Section /.bmaid_gmen_sec
        11. Video Background Section /.video_background_sec
        12. Our Blog Section / .blog_sec
		13. RSVP Section / .rsvp_sec
		14.Footer Top Section /.footer_top_sec
		15.Footer Section /.footer_sec
        
*******************************************************************************/

/******************************************************************************
# [Color codes]

Background:	#ffffff
Body font color: #3a3939;
Common Header h2:	#393838;
Common Header h3:	#db4766;
Client Review h2 span: #fff;
Footer:		#FFFFFF;
Button Background: #EA4747;
Button Hover Background: #FA3636;
Button Color: #FFFFFF;
Border color: #ededed;


# *****************************************************************************/

/******************************************************************************
[Typography]
Font Source: Google Font Service;
Body Font Family: 'Open Sans', sans-serif;
Body Font Size: 15px;
Common Headers Font Family: 'Rochester', cursive;
Common Headers Font Size: 40px;


******************************************************************************/


body {
overflow-x : hidden;
background:#fff;
font-family: 'Athiti', sans-serif;
}
p {
font-size : 14px;
line-height : 1.75;
font-family: 'Athiti', sans-serif;
color:#656565;
font-size:15px;
font-weight:300;
}
p.large {
font-size : 16px;
}
a, a:hover, a:focus, a:active, a.active {
outline : 0;
}

h1, h2, h3, h4, h5, h6 {
font-family: 'Arima Madurai', cursive;
text-transform : Capitalize;
font-weight : 700;
}
p{
font-family: 'Athiti', sans-serif;
}
img{
/* width:100%;	 */
}
.img-centered {
margin : 0 auto;
}
.btn:focus, .btn:active, .btn.active, .btn:active:focus {
outline : 0;
}

p.text-muted{
color:#3a3939;
font-weight: 400;
}
.navbar-default {
border-color : transparent;
background-color : #DB4766;
margin-bottom:0px;
z-index:999999;
}
.navbar-default.navbar-shrink{
	z-index:99999;
}
.navbar-default .navbar-brand {
font-family: 'Arima Madurai', cursive;
color : #fff;
font-size:55px;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:active, .navbar-default .navbar-brand.active {
color : #ffffff;
}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
background : #DB4766;
}
.navbar-default .navbar-collapse {
border-color : #DB4766;
background : #DB4766;
}
.navbar-default .navbar-toggle {
border:2px solid #ddb5b4;
background-color : #DB4766;
transition : all 0.25s ease;
}
.navbar-default .navbar-toggle .icon-bar {
background-color : #ddb5b4;
transition : all 0.25s ease;
}
.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
background-color : #ffffff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color : #DB4766;
border-color : #ffffff;
}
.navbar-default .nav li a {
text-transform : capitalize;
font-weight : 400;
font-size: 16px;
letter-spacing : 1px;
color : #ddb5b4;
}
.navbar-default .nav li a:hover{
outline : 0;
color : #fff;
}
.navbar-default .navbar-nav li a.current {
border-radius : 0;
color : #fff;
background-color : #DB4766;
}
.navbar-default .navbar-nav > a:hover, .navbar-default .navbar-nav > a.current{
color : #fff;
background-color : #DB4766;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
color:#fff;
background:#db4766;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
color:#fff;	
}
.navbar-default .navbar-nav > li.active > a.current{
background:#db4766;
color:#fff;
}

/* New nav style */
@media (min-width: 768px){
.navbar-default .nav.main_nav_3{
	width:100%;
	text-align:center;
	}
.navbar-default .nav.main_nav_3  li:nth-child(-n+3)
  {
	float:left;
	}
.navbar-default .nav.main_nav_3  li:nth-child(n+4)
{
	float:right;
	}

.navbar>.container .navbar-brand.navbar-brand-3, .navbar>.container-fluid .navbar-brand.navbar-brand-3{
	position:absolute;
	left:50%;
	margin-left:-57.5px;
	font-size:50px;
	background-size: 6%;
	border-radius: 34px;
	}

	}
/* New nav style end*/	

.container {
padding-left : 0;
padding-right : 0;
}
.container-fluid{
padding-left : 0;
padding-right : 0;	 
 }
.row{
margin-right:0px;
margin-left:0px;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span{
background:#db4766;	
}
.owl-theme .owl-controls .owl-page span{
   margin: 5px 7px 1px 7px;
	}
@media (min-width:768px) {
.navbar-default {
padding : 20px 0;
border : 0;
background-color : transparent;
transition : padding 0.3s;
background : #DB4766;
}
.navbar-default .navbar-brand {
font-size : 55px;
transition : all 0.3s ease;
}
.navbar-default .navbar-nav > .active > a {
border-radius : 0px;
background: transparent;
color: #ddb5b4;
}
.navbar-default .navbar-nav > .active > a:hover {
border-radius : 0px;
background: transparent;
color: #ddb5b4;
}
.navbar-default.navbar-shrink {
padding : 10px 0;
background-color : #DB4766;
}
.navbar-default.navbar-shrink .navbar-brand {
font-size : 2.75em;
}
}
header {
text-align : center;
color : #fff;
background :#ffffff;
background-attachment : scroll;
background-position : center center;
background-size : cover;
}
header .intro-text {
padding-top : 100px;
padding-bottom : 50px;
}
header .intro-text .intro-lead-in {
margin-bottom : 25px;
font-size : 22px;
font-style : italic;
line-height : 22px;
}
header .intro-text .intro-heading {
margin-bottom : 25px;
text-transform : uppercase;
font-size : 50px;
font-weight : 700;
line-height : 50px;
}
section.main-slider{
padding-top:89px;	
padding-bottom:0px;
background:#db4766;
}
.large_bold_white{
font-family: 'Arima Madurai', cursive;
text-transform : Capitalize;
font-weight : 400;
font-size:100px;
}

.flex-direction-nav a {
	background:rgba(0,0,0,1); 
	border-radius:3px;
	text-align:center;
	font-size:30px;
	color:#ffffff;
	}
.two .flex-direction-nav a{
	border-radius:0px;
	}
.flex-direction-nav .flex-next,.flex-direction-nav .flex-prev{
	text-align:center;
	line-height:40px;
	}


.flexslider{
	margin:0;
	}

@media (min-width:768px) {
header .intro-text {
padding-top : 300px;
padding-bottom : 200px;
}
header .intro-text .intro-lead-in {
margin-bottom : 25px;
font-size : 40px;
font-style : italic;
line-height : 40px;
}
header .intro-text .intro-heading {
margin-bottom : 50px;
text-transform : uppercase;
font-size : 75px;
font-weight : 700;
line-height : 75px;
}
}
section {
padding-top : 85px;
padding-bottom : 90px; 
position:relative;
}
section h2.section-heading {
margin-top : 0;
margin-bottom : 15px;
font-size : 57px;
color:#393838;	
font-weight:400;
}
section h3.section-subheading {
margin-bottom : 75px;
text-transform : none;
font-size : 16px;
font-style : italic;
font-weight : 400;
}


::-moz-selection {
text-shadow : none;
background : #DB4766;
color : #ffffff;
}
::selection {
text-shadow: none;
background: #DB4766;
color : #ffffff;
}
img::-moz-selection {
background : 0 0;
}
section.wedding-sec {
/* padding-top : 70px; */
}
section.wedding-sec .section-head {
padding-top : 5px;
padding-left:90px;
padding-right:90px;
}
.section-subheading{
margin-bottom:65px;
	}
div.bottom-dash {
width : 50px;
background : #EDEDED;
height : 5px;
margin-bottom : 30px;
margin-top : 27px;
margin-right : auto;
margin-left : auto;
}
.two div.bottom-dash {
background : #6d6d6d;
	}
.container{
	overflow:hidden;
	}
nav.navbar >.container{
	overflow:visible;
	}
/* Bride Groom section */
.bride_groom_sec{
	
	}

.bride_groom_sec_2{
	padding-bottom:0px;
	}
.bride_groom_sec .section-subheading{
	margin-bottom:63px;
	}
.brd_grm_wrapper{
	background:#F7F4F4;
	padding-top:40px;
	padding-bottom:90px;
	}
.brd_grm_wrap{
	width:300px;
	overflow:hidden;
	margin:0 auto;
	}

.brd_grm_img{
	position:relative;
	height:304px;
	padding:30px;
	}
.brd_grm_img img{
	
	}
.heart_frame{
	position:absolute;
	top:0;
	}
.def_frm{
	display:block;
	}
.hov_frm{
	display:none;
	}
.br_grm{
	text-align:center;
	}
.br_grm .social_icons{
	margin: 40px auto 0;
	display: table;
	}
.nd_img{
	position:relative;
	}
.nd_img:before{
	content:"";
	position:absolute;
	width:51px;
	height:53px;
	background:url(img/bridegroom/and.png) no-repeat;
	top:21%;
	left:-25px;
	}
.brd_grm_wrap:hover .def_frm{
	display:none;
	}
.brd_grm_wrap:hover .hov_frm{
	display:block;
	}
.brd_grm_wrap:hover .brgm_overlay{
	opacity:1;
	filter: Alpha(Opacity=100);
	}

.brd_grm_wrap:hover .heart_frame  a{
	opacity:1;
	filter: Alpha(Opacity=100);
	}
.brgm_overlay{
	background:rgba(219, 71, 102, 0.7);
	position:absolute;
	opacity:0;
	filter: Alpha(Opacity=0);
	text-align:center;
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	transition : all 0.5s ease;
	}
.heart_frame  a{
	z-index:9999!important;
	opacity:0;
	filter: Alpha(Opacity=0);
	width:38px;
	height:38px;
	margin: 125px auto 0;
	cursor:pointer;
	position:absolute;
	top:0;
	left:50%;
	margin-left:-19px;
	transition : all 0.5s ease;
	}
.br_grm h3{
	font-size:48px;
	color:#393838;
	margin-bottom:24px;
	margin-top:0px;
	font-weight:400;
	}

/* Love story */
.love_story_sec{
	padding-bottom:0px;
	}
.love_story_sec .love_story_wrapper{
	padding-top:51px;
	padding-bottom:66px;
	background:#F7F4F4;
	}
.love_story_details{
	
	}
.love_story_details h3{
	margin-top:10px;
	margin-bottom:0px;
	}
.love_story_details h3::first-letter{
	text-transform:capitalize;
	}
.love_story_details h3 a{
	font-size: 40px;
	text-decoration: none;
	color: #db4766;
	font-weight: 400;
	text-transform:initial;
	}

.love_story_details  p.posting_date{
	line-height:100%;
	text-transform:capitalize;
	}
.love_story_details .post_text{
	color:#656565;
	}
.love_story_img img{
	width:100%;
	border-radius:5px;
	}
.love_story_tab .love_story_img img{
	border-radius:0px;
	}
nav.love_story_nav{
	margin-bottom:40px;
	width:100%;
	text-align:center;
	}
nav.love_story_nav a{
	color:#D3D3D3;
	font-size:22px;
	}
nav.love_story_nav a:hover{
	color:#db4766;
	}
a.read_more{
	color:#3a3939;
	text-decoration:none;
	}
a.read_more img{
	width:11px;
	}
a.read_more:hover{
	color:#CC3051;
	}
	
.love_carosel.owl-theme .owl-controls{
	margin-bottom:30px;
	}	
.love_carosel.owl-theme .owl-controls .owl-page span, .love_carosel.owl-theme .owl-controls.clickable .owl-page span{
	background:url(img/love_btn_n.png) no-repeat center center;
	width:35px;
	height:33px;
	transition:.25s;
	box-sizing:border-box;
	margin:5px 2px;
	}
 .love_carosel.owl-theme .owl-controls .owl-page.active span, .love_carosel.owl-theme .owl-controls.clickable .owl-page:hover span{
	background:url(img/love_btn_h.png) no-repeat center center;
	width:35px;
	height:33px;
	}

/* Parallex section 2 */
.parallex_sec_2{
	background:url(img/family.png) 100% 0% no-repeat fixed;
	height:400px;
	background-size:100%;
	}
.paratxt,.paratxt > .row{
	height:100%;
	}

.para-txt-wrap{
	display:table;
	position:relative;
	height:100%;
	padding:0px 70px;
	}
.para-text{
	display:table-cell;
	vertical-align: middle;
	/* position:relative; */
	text-align:center;
	/* display:table; */
	font-size:30px;
	font-weight:300;
	color:#fff;
	width:80%;
	}
.para-text .fa-quote-right{
	position:absolute;
	bottom:75px;
	margin-right:-40px;
	}
.para-text .fa-quote-left{
	position:absolute;
	top:75px;
	margin-left:-40px;
	}
/* .para-text:before{
	content:"\f10d";
	position:absolute;
	color:#fff;
	width:30px;
	height:30px;
	}
.para-text:after{
	content:"\f10e";
	position:absolute;
	color:#fff;
	width:30px;
	height:30px;
	} */
/* Family members */
.family_sec{
	padding-bottom:0px;
	}
.family_member_wrap{
	width:100%;
	background:#F7F4F4;
	padding:52px 0px 83px;
	}
.family_member_wrap h2.family_title{
	text-align:center;
	font-size:45px;
	font-weight:400;
	margin-bottom:15px;
	}
.family_member_wrap h3{
	color:#db4766;
	font-size:32px;
	font-weight:400;
	margin-bottom:4px;
	margin-top:7px;
	}

.family_member_wrap .social_icons{
	margin: 36px auto 0px;
	display: table;
	}
p.relation{
	text-transform:capitalize;
	margin-bottom:16px;
	color:#3a3939;
	font-weight: 400;
	}
.family_mem_img{
	width:204px;
	height:240px;
	margin:0 auto;
	padding-top:20px;
	}
.family_mem_carosel .brd_grm_wrap .heart_frame{
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -102px;
	width: 204px;
	height:240px;
	}
#family_member1 .item img, #family_member2 .item img {
display : block;
width : 100%;
height : auto;
}

.family_mem_carosel.owl-theme .owl-controls{
padding-bottom:5px;
	}
.family_mem_carosel .item {
text-align : center;
}
.family_mem_carosel .brd_grm_wrap{
	width:100%;
	height:240px;
	overflow:hidden;
	}
.family_mem_carosel p{
	font-size:14px;
	}
.p.family_txt_details{
	color:#656565;
	}
.family_mem_carosel p.family_txt_details{
	margin-bottom: 0px;
}
/* New carosel style */	
.family_member_wrap .col-lg-4{
	padding-left:0px;
	padding-right:0px;
	}

/* New carosel style end*/	
	
.event_party_sec{
padding-bottom:0px;	
}	
.evnt_prt {
text-align : center;
color : #ffffff;
padding : 20px 0;
border-radius:5px;
position:absolute;
width : 100%;
height : 100%;
top:0;
position:relative;
margin:0 auto;
backface-visibility: hidden;
transform:rotatey(0deg);
transition:.5s;
}

.evnt_prt_back{
text-align : center;
background:url(img/evnt01.png) no-repeat;
background-size:cover;
position:absolute;
top:0;
width:100%;
height:270px;
margin:0 auto;
border-radius:5px;
padding : 25px 20px;
color:#ffffff;
border-radius:5px;
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-ms-backface-visibility: hidden;
-o-backface-visibility: hidden;
backface-visibility: hidden;        
transform: rotateY(180deg);
transition:.5s;
}
.two .evnt_prt,.two .evnt_prt_back{
border-radius:0px;	
	}

/* Flip card style */

.evnt_card_container {
  position: relative;
  margin: 0px auto 90px;
  height: 270px;
  z-index: 1;
}

 .containers {    
	 -webkit-perspective: 1000px;
        -ms-perspective: 1000px;
        -moz-perspective: 1000px;
        perspective: 1000px;
		
    }
      
    .containers, .card {
		width: 100%; 
		height: 100%; 
		position:absolute; 
		top:0; 
		left:0; 
		font-family: sans-serif; 
		float: left;
	}

    .card {
        width: 100%;
        height: 100%;
		-webkit-transition: all 0.5s linear;        
        -ms-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        transition: all 0.5s linear;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
    }
        
    .front {
    }

    .back {
        text-align:center;
        -ms-transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        transform: rotateY(180deg);
     }

    .containers:hover .back {
        text-align:center;
        -ms-transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        transform: rotateY(0deg);
     }
	 .containers .front {
        text-align:center;
        -ms-transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        transform: rotateY(0deg);
     }
    .containers:hover .front {
		-webkit-transform: rotateY(-180deg);
      -ms-transform: rotateY(-180deg);
      -moz-transform: rotateY(-180deg);
      transform: rotateY(-180deg);
    }

.evnt_prt_back_1{
	background:#DC5873 url(img/evnt01.png) center center no-repeat;
	}
.evnt_prt_back_2{
	 background:#DC5873 url(img/evnt02.png) center center no-repeat;
	}
.evnt_prt_back_3{
	 background:#DC5873 url(img/evnt03.png) center center no-repeat;
	}



.evnt_addres{
	position:relative;
	padding:20px 0px;
	border-top:1px solid #e68a9e;
	border-bottom:1px solid #e68a9e;
	margin:25px 0px;
	font-weight:300;
	}
.evnt_addres:before{
	content:"";
	position:absolute;
	width:21px;
	height:17px;
	background:url(img/flip_hrt.png) no-repeat;
	top:-10px;
	left:-5px;
	}
.evnt_addres:after{
	content:"";
	position:absolute;
	width:21px;
	height:17px;
	background:url(img/flip_hrt.png) no-repeat;
	bottom:-10px;
	right:-5px;
	}

.evnt_prt_1{
	background : url(img/evnt01.png) center center no-repeat;	

	} 
.evnt_prt_2{
	background : url(img/evnt02.png) center center no-repeat;
} 
.evnt_prt_3{
	background : url(img/evnt03.png) center center no-repeat;
} 
.evnt_prt p,.evnt_prt_back p{
	color:#ffffff;
	font-size:14px;
	font-weight:300;
	}
.evnt_prt_back p{
	line-height:100%;
	}
.evnt_prt h2 ,.evnt_prt_back h2{
	font-family: 'Athiti', sans-serif;
	margin : 0;
	font-size : 22px;
	font-weight:500;
}
.evnt_prt img {
	padding : 28px 0 15px;
	max-width:90px;
}
.btn-primary.btn_evnt {
	background : #ffffff;
	border-color : #ffffff;
	color : #777;
	font-size:16px;
	width : 120px;
	font-weight : 400;
	line-height:21px;
	cursor:initial;
}
.two .btn-primary.btn_evnt{
	border-radius:0;	
}
section.parallex_sec_1 {
	background :rgba(0,0,0,0.8) url(img/girl2.png) center center no-repeat fixed;
	height : 400px;
	background-size:cover;

}
section.parallex_sec_3 {
	height : 400px;
}


section.video_background_sec {
	padding-top:0;
	padding-bottom:0;
	padding:0;
	/* background:rgba(219, 71, 102, 0.8);
	 width: 100vw; */
}
.video-bg-self {
	width:100%;
	height:100%;
	padding: 207px 0px 273px 0px;
	}

.video_background_sec  {
	width: 100%;
	
	position: relative;
	height: 100%;
}
.video_background_sec  .container {
	height: auto;
	position: relative;
}
.video-background{
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100%!important;
	z-index: 0;
}
.video-background video{
	min-height: 100%;
	min-width: 100%;
}

.video-bg-self .ui-video-background{
	position: absolute;
	width:100%;
	height:100%;
	top:0;
}
ul.ui-video-background-controls{
	padding-left:0;
	text-align:center;
	position:relative;
	top:50%;
	margin-top:-33px;
	}
.video-bg-self .ui-video-background li{
	font-size: 15px;
	font-weight: 400;
	text-align: center;
	line-height: 35px;
	border-radius:3px;
	text-transform:uppercase;
	font-weight:300;
	margin: 0px 20px;
	background: transparent;
	list-style: none;
	-moz-transition: all 0.6s ease-in-out;
	-webkit-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}
.video-bg-self .ui-video-background li a{
	position: relative;
	color: #fff;
	text-decoration:none;
	text-indent:99999px;
	width: 66px;
	height: 66px;
	display:block;
	margin:0 auto;
	border-radius:50%;
}
a.ui-icon-play{
	opacity:0;
	filter: Alpha(Opacity=0);
	background:url(img/video/pause.png) no-repeat center center;
	transition:.5s;
	}
a.ui-icon-play:hover{
	background:rgba(255,255,255,0.2) url(img/video/pause.png) no-repeat center center;
	}

a.ui-icon-pause{
	background:url(img/video/play.png) no-repeat center center;
	opacity:1;
	filter: Alpha(Opacity=100);
	transition:.35s;
	}
a.ui-icon-pause:hover{
	background:rgba(255,255,255,0.2) url(img/video/play.png) no-repeat center center;
	}

.video_background_sec:hover a.ui-icon-play{
	opacity:1;
	filter: Alpha(Opacity=100);
	}
.video-bg-self .ui-video-background li:hover{
	
}  

 
.mix {
display : none;
}
.photo_gallery_sec{
padding-bottom:0px;
}
.photo_gallery_sec .container-fluid{
padding-left:0px;	
padding-right:0px;
background:#F7F4F4;
}
.photo_gallery_sec .container-fluid .row {
padding-left : 0;
padding-right : 0;
margin-right:0px;
margin-left:0px;
background:#F7F4F4;
}
.photo-container .mix {
padding-left : 0;
padding-right : 0;
width : 20%;
height : 280px;
margin-left : -1.85px;
margin-right : -1.85px;
position : relative;


}
.photo-container .mix.mix_big {
width : 40%;

}
.photo-container .mix img {
width : 100%;
height : 280px;

}
.photo-container .mix .overlay {
position : absolute;
top : 0;
left : 0;
right : 0;
bottom : 0;
width: 100%;
height: 100%;
overflow:hidden;
opacity:0;
filter: Alpha(Opacity=0);
background : rgba(219, 71, 102, 0.8);
text-align : center;
color : #ffffff;
transition : all 0.35s ease;
display: table-cell;
}
.photo-container .mix .overlay .overlay_text {
display: table;
overflow: hidden;
width: 100%;
height: 100%;
vertical-align: middle;
text-align: center;
}
.photo-container .inner-extra {
display: table-cell;
margin: 0;
padding: 0 10px;
width: 100%;
height: 100%;
vertical-align: middle;
position:relative;
}
.photo-container .mix .overlay a {
color : #ffffff;
font-size : 25px;
display : block;
z-index : 100;
width : 40px;
height : 40px;
margin: 0 auto;
text-align : center;
line-height : 50px;
font-weight : 700;
transition : all 0.35s ease;
}
.photo-container .mix .overlay a img{
height:auto;
margin-top: -50px;
opacity: 0;
	}
.photo-container .mix .overlay p {
margin-top : 330px;
font-size : 18px;
color:#ffffff;
display : block;
position : relative;
transition : all 0.35s ease;

}

.photo-container .mix:hover .overlay {
opacity:1;
width:calc(100% - 16px);
height:calc(100% - 16px);
top : 8px;
left : 8px;
right : 8px;
bottom : 8px;
}
.photo-container .mix:hover .overlay a {
margin: 0 auto;
}
.photo-container .mix:hover .overlay a img{
margin-top: 0px;
opacity: 1;
transition : all 0.5s ease;
}
.photo-container .mix:hover .overlay p {
bottom : 0;
margin-top : 30px;
}

.gallery-nav {
text-align : center;
margin-top:70px;
margin-bottom : 40px;
}
.gallery-nav button {
padding : 0 20px;
height : 40px;
line-height : 40px;
border : none;
color : #414141;
background : #EBE8EB;
margin : 0 2.5px;
border-radius : 3px;
text-transform : capitalize;
box-shadow : none;
transition : all 0.35s ease;
}
.gallery-nav.two button{
border-radius : 0px;	
}
.gallery-nav button:hover {
background : #6B6B6B;
color : #ffffff;
box-shadow : none;
}
.gallery-nav button:focus {
outline : 0;
box-shadow : none;
}
.gallery-nav button.active {
background : #DB4766;
color : #ffffff;
box-shadow : none;
}
.bmaid_gmen_sec{
padding-bottom:0px;
	}
.bmaid_gmen_sec .section-subheading{
margin-bottom:20px;
	}
.bmaid_gmen_sec .social_icons{
	
	}

.bmaid_gmen_sec .nav-tabs {
border-bottom : 0;
position : relative;
bottom : -42px;
}
.bmaid_nav,.gmen_nav{
	display:block;
	width:100%;
	float:left;
	} 
.bmaid_gmen_sec .bmaid_nav .nav-tabs {
padding-right : 20px;
text-align:right;
}
.bmaid_gmen_sec .gmen_nav .nav-tabs {
padding-left : 20px;
text-align:left;
}
.bmaid_gmen_sec .bmaid_nav .nav-tabs > li {
float:none;
display:inline-block;
margin-left : 14px;
}
.bmaid_gmen_sec .gmen_nav .nav-tabs > li {
float:none;
display:inline-block;
margin-right : 14px;
}
.bmaid_gmen_sec .nav-tabs > li > a > img {
width : 100%;
opacity : 0.5;
/* width : 85px;
height : 84px; */
border-radius:50%;
}
.bmaid_gmen_sec .bmaid_sec .nav-tabs > li > a > img {
	/* margin-left:-2px; */
	}
.bmaid_gmen_sec .gmen_sec .nav-tabs > li > a > img {
	
	}
.bmaid_gmen_sec .nav-tabs > li > a {
background : #fff;
display : block;
width : 84px;
height : 84px;
border : 0;
padding : 0;
border-radius : 50%;
background : #DB4766;
transition : all 0.45s ease;
}
.bmaid_gmen_sec .nav-tabs > li > a:hover {
background : #fff;
border : 0;
}
.bmaid_gmen_sec .nav-tabs > li.active > a, .bmaid_gmen_sec .nav-tabs > li.active > a:hover, .bmaid_gmen_sec .nav-tabs > li.active > a:focus {
border : 0;
color : #555;
cursor : default;
background : #fff;
}
.bmaid_gmen_sec .nav-tabs > li.active > a > img,.bmaid_gmen_sec .nav-tabs > li > a:hover > img, .bmaid_gmen_sec .nav-tabs > li.active > a:hover > img, .bmaid_gmen_sec .nav-tabs > li.active > a:focus > img{
	opacity:1;
	}
.bmaid_sec{
padding-left:0;
margin-bottom:90px;
}
.gmen_sec{
padding-right:0px;
}
.bridemaid {
text-align : right;
background : #F7F4F4;
display : block;
width : 100%;
float : right;
}
.groomsmen {
text-align : left;
background : #F7F4F4;
display : block;
width : 100%;
float : left;
}
.bridemaid h3, .groomsmen h3 {
color : #db4766;
padding:0px 5px;
font-size:30px;
font-weight:400;
text-transform:capitalize;
}
.bridemaid p, .groomsmen p {
color : #656565;
font-weight:300;
text-transform:initial;
}
.bridemaid_tab_content, .groomsmen_tab_content {
background : #F7F4F4;
display : block;
width : 100%;
float : left;
border-radius:0px;
}
.four.one .bridemaid_tab_content, .four.one  .groomsmen_tab_content {
	border-radius:5px;
	}
.bridemaid_tab_content{
	padding : 50px 20px 20px 0px;
	}
.groomsmen_tab_content{
	padding : 50px 0px 20px 20px;
	}
.bmaid_gmen_sec .social_icons {
margin-top:46px;
float:right;
}
.groomsmen_tab_content .social_icons {
margin-top:46px;
float:left;
}
.social_icons a {
display: table;
position: relative;
height : 30px;
width : 30px;
float: left;
font-size: 15px;
text-align : center;
background : #E8E3E3;
color : #9e9d9d;
border-radius : 50%;
line-height : 26px;
transition : all 0.25s ease;
margin-right:4px;
margin-left:4px;
}
.social_icons a:hover {
color : #fff;
background : #DB4766;
text-decoration: none;
}
.social_icons a i{
	display: table-cell;
	vertical-align: middle;
	position: relative;
}
.fl_right a {
float : right;
}
.fl_left a {
float : left;
}
.bridemaid .social_icons a {
margin-left : 5px;
}
.groomsmen .social_icons a {
margin-right:5px;	
	}

/* Blog section */
.blog_wide_wrap{
	background:#F7F4F4;
	padding-top:63px;
	}
.blog_sec{
	padding-bottom:0px;
	}
p.posting_date{
	background:url(img/blog_time.png) no-repeat center left;
	text-indent:20px;
	margin-bottom:5px;
	text-transform:capitalize;
	}
.blog_post h3{
	margin-top:0px;
	margin-bottom:13px;
	}
.blog_post h3 a{
	font-size:37px;
	text-decoration:none;
	color:#db4766;
	font-weight:400;
	text-transform:initial;
	transition:.4s;
	}
.blog_post h3 a:hover{
	
	text-shadow:0 0 2px rgba(189,71,102,0.3);
   }
.blog_post .blog_text{
	margin-top:18px;
	}
.post_text{
	padding:20px 0px 45px;
	}
.blog_bottom_line{
	color:#3a3939;
	font-size:14px;
	margin-top:40px;
	}
.blog_bottom_line span:nth-child(2),.blog_bottom_line span:nth-child(4){
	margin-left:3px;
	}
.blog_bottom_line span + span + span{
	margin-left:8px;
	}
.blog_bottom_line i{
	color:#656565;
	margin-right:5px;
	}
.blog_bottom_line a{
	text-decoration:none;
	color:#3a3939;
	
	}
.blog_bottom_line a.read_more{
	float:right;
	}
a.read_more .arrow{
	visibility:visible;
	margin-left:3px;
	}
a.read_more .arrow-hov{
	visibility:hidden;
	margin-left:3px;
	}
 a.read_more:hover .arrow-hov{
	visibility:visible;
	left:-14px;
	position:relative;
	}
.blog_bottom_line a.read_more:hover .arrow{
	visibility:hidden;
	}
.blog_bottom_line a:hover{
	color:#db4766;
	}
.blog_post{
	margin-bottom:90px;
	}
.blog_post h3 a:hover{}
.blog_img img{
	width:100%;
	}
	
	
	
/* Single blog style  */
.comment_sec{
	padding-top:0;
	padding-right:10px;
	padding-bottom:30px;
	}

.comments-area {
	
	}
.cmnt_head{
	font-family: 'Athiti', sans-serif;
	font-size:20px;
	color:#2d2d2d;
	text-transform:capitalize;
	font-weight:400;
	}
.media-body-inner{
	border-bottom:1px solid #EBEBEB;
	padding-bottom:13px;
	}
.comments-area h4 {
	font-family: 'Athiti', sans-serif;
	font-size:16px;
	color:#2d2d2d;
	text-transform:capitalize;
	font-weight:400;
	}
a.replay_icon{
	float:right;
	color:#656565;
	}
a.replay_icon:hover{
	color:#db4766;
	}
.comment-metadata{
	margin-bottom:17px;
	}
.cmnt_head + p,.comment-metadata a{
	text-decoration:none;
	color:#969595;
	font-size:13px;
	}
.comment-metadata + p{
	color:#656565;
	}
.commment_wrap{
	margin-top:25px;
	}
.not_publish{
	color:#969595;
	font-size:13px;
	
	}
p.not_publish::first-letter{
	text-transform:uppercase;
	}
.commment_wrap .media-left{
	padding-right:20px;
	
	}
.commment_wrap a.media-left img{
	width:70px;
	height:70px;
	border-radius:3px;
	}
.commment_wrap .children{
	margin-top:30px;
	}

/* Leave comment */
.post_a_comment{
	margin-top:48px;
	}
.post_a_comment form{
	padding-top:15px;
	}
.comment-reply-title{
	font-family: 'Athiti', sans-serif;
	font-size:20px;
	color:#2d2d2d;
	font-weight:400;
	text-transform:capitalize;
	}

/* Rsvp section  */
p.social_icons{
margin-bottom:0px;	
}
.social_icons.fl_left a {
margin-right : 10px;
}
section.rsvp_sec {
background : url(img/map-image.jpg) no-repeat 100% 100%;
height : auto;
}

.form_wrapper{
text-align:center;	
}
.form_wrapper .form-control {
display : block;
width : 100%;
height : 36px;
padding : 6px 12px;
font-size : 14px;
line-height : 1.42857143;
/* background-color : #fff;
background-image : none; */
border : none ;
border-radius : 3px;
box-shadow : none;
transition : border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form_wrapper.two .form-control {
border-radius : 0px;	
	}
.form_wrapper .form-control:focus {
border : none;
outline : 0;
box-shadow : none;
}
.post_a_comment .form-control {
display : block;
width : 100%;
height : 45px;
padding : 6px 12px;
font-size : 14px;
font-weight:300;
line-height : 1.42857143;
background-color : #fff;
background-image : none;
border : 1px solid #EBEBEB;
border-radius : 3px;
margin-bottom:30px;
box-shadow : none;
transition : border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.post_a_comment .form-control:focus {
border : 1px solid #EBEBEB;
outline : 0;
box-shadow : none;
}
.form_hf{
   width:50%;
   float:left;
   margin-bottom:0px;
	}
.form_hf.name{
	padding-right:15px;
	}
.form_hf.mail{
	padding-left:15px;
	}
textarea.txtarea{
	
	}
.post_a_comment .form-control.txtarea{
	height:160px;
	resize:vertical;
	padding:15px 10px;
	}

.btn_cmnt{
	padding:0px 25px;
	line-height:45px;
	text-transform:uppercase;
	font-size:15px;
	background:#db4766;
	font-weight:400;
	border-color:#db4766;
	border-radius:3px;
	}
.btn_cmnt:hover{
	background:#C93D5B;
	border-color:#C93D5B;
	}
.form_wrapper {
width : 47%;
max-width:460px;
padding-top:65px;
padding-left:40px;
padding-right:40px;
padding-bottom:40px;
margin-right:5px;
float:right;
background : rgba(75,75,75, 0.9);
border-radius : 5px;
}
.form_wrapper.two{
border-radius : 0px;	
} 

.form_wrapper h2.section-heading, .form_wrapper p {
color : #ffffff;
text-align:center;
}
.form_wrapper h2.section-heading{
font-size:57px;
font-weight:300;
margin-top:0;
	}
.form_wrapper p.section-subheading{
margin-bottom:40px;
}
.form_wrapper div.bottom{
margin-top:20px;
margin-bottom:23px;
background:#777777;
}
.form_wrapper .form-group {
margin-bottom : 30px;
}
.form_wrapper .select_group {
width : 47%;
float : left;
max-width : 175px;
}
select.select_frm{
     -webkit-appearance: none;       
     -moz-appearance: none;    
     appearance: none;
	 color:#696969;
     background: #fff url('img/form_carrot.png')  no-repeat;         
     background-position: 97% 52%;                
     background-size: 9px 8px; 
}
select.select_frm:focus{
	border:none;
	outline:none;
	}


.form_wrapper .select_attend {
margin-left : 30px;
}
.form_wrapper label {
float : left;
color : #fff;
}
.form_wrapper .btn_attend {
width : 47%;
max-width:175px;
height : 36px;
font-size:15px;
margin-left:30px;
background : #DB4766;
color : #ffffff;
border : none;
text-transform : uppercase;
}
.form_wrapper.two .btn_attend {
border-radius:0;
}
.btn_attend:hover {
background : #c53f5b;
}

section.rsvp_sec .section-head{
padding-left:0;
padding-right:0;
padding-top:0px;
}
	
/* Contact Map */
.rsvp_sec{
	padding-top:0;
	padding-bottom:0;
	}
#rsvp{
	padding:0px;
	}
#rsvp .map-holder {
	height: 730px;
}
#rsvp .map-holder .map {
	width: 100%;
	height: 100%;
}
.rsvp_sec{
	z-index:99;
	}
.container.rsvp_form{
	overflow:visible;
	}
.rsvp_sec .rsvp_wrap.new{
	position:relative;
	z-index:9999999;
	width:460px;
	float:right;
	}

.form_wrapper.new{
	width:460px;
	position:absolute;
	margin-top:-640px;
	z-index:999;
	right:10px;
   }
.rsvp_sec .rsvp_wrap{
	
	}
/* Footer top section */
.footer_top_sec{
	background:#403E3F;
	color:#afafaf;
	padding:50px 0px 45px;
	margin:0;
	
	}
.footer_top_sec p{
	color:#afafaf;
	display:block;
	font-size:15px;
	margin-bottom:0px;
	}
.footer_top_sec p.phone{
	text-align:left;
	}
.footer_top_sec p.mail{
	text-align:center;
	}
.footer_top_sec p.address{
	text-align:right;
	}
.footer_top_sec p img{
	margin-right:15px;
	}
/* Footer */
.footer_sec {
line-height:63px;
text-align : center;
color:#fff;
background:#DB4766;
}
.footer_sec span.copyright{
	color:#ffffff;
	float:left;
	font-weight:300;
	font-size:14px;
	padding-top:7px;
	}
.footer_sec span.copyright a{
	color:#fff;
	text-decoration:none;
	}
.footer_sec ul.social_icons{
	margin-bottom:0;
	text-align:right;
	padding-top:18.5px;
	}
.footer_sec ul.social_icons li{
	padding:0;
	}
footer .social_icons li a{
	background:#CC3051;
	color:#ffffff;
	}
footer .social_icons li a:hover{
	color:#db4766;
	background:#ffffff;
	}
	

.family_mem_caro_1{
	width:36.75%;
	margin-left:5.99%;
	float:left;
	}
.family_mem_caro_2{
	margin-left:14.529%;
	width:36.75%;
	float:left;
	}
	
/*
http://tympanus.net/Development/GridNavigationEffects/example5.html	
	
*/
.mix{
	display:none;
	}
::-webkit-input-placeholder {
   color: #fa3737;
}

:-moz-placeholder { /* Firefox 18- */
   color: #696969;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #696969;  
}

:-ms-input-placeholder {  
   color: #696969;  
}


/* Blog Section */
/* Blog Section */
/* Blog Section */
/* Blog Section */
header.blog_header{
	background:url(img/placehold/blog-bg.png) no-repeat;
	background-size:100% 100%;
	height:260px;
	padding-top:90px;
	}
#sidebar h3{
	font-family: 'Athiti', sans-serif;
	color:#2d2d2d;
	font-size:20px;
	font-weight:400;
	margin-bottom:36px;
	margin-top:0px;
	}
#sidebar #tags h3{
	margin-bottom:37px;
	}
.blog_head{
	padding:60px 0px;
	text-align:left;
	}
.blog_head h2{
	font-family: 'Athiti', sans-serif;
	font-size:30px;
	font-weight:400;
	margin:0px;
	line-height:100%;
	}

.breadcrumb{
	background:transparent;
	font-size:14px;
	font-weight:400;
	margin-bottom:0px;
	line-height:100%;
	padding:8px 0px 0px;
	}
.breadcrumb > li > a{
	text-decoration:none;
	color:#cecece;
	text-transform:capitalize;
	}
.breadcrumb > .active > a{
	color:#ffffff;
	}
.breadcrumb > li > a:hover{
	color:#ffffff;
	}
.blog_img img{
	width:100%;
	height:100%;
	border-radius:5px;
	}
.blog_img a.hov{
	position:relative;
	}
.blog_img a.hov:before{
	background:rgba(219,71,102,0) url(img/zoom.png) no-repeat center center;
	border-radius:5px;
	opacity:0;
	filter: Alpha(Opacity=0);/*IE7 fix*/
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	transition:.45s;
	}
.two .blog_img a.hov:before{
	border-radius:0px;
	}
.blog_img a.hov:hover:before{
	background:rgba(219,71,102,0.7) url(img/zoom.png) no-repeat center center;
	opacity:1;
	filter: Alpha(Opacity=100);/*IE7 fix*/
	top: 8px;
	left: 8px;
	right: 8px;
	bottom: 8px;
	width: calc(100% - 16px);
	height: calc(100% - 16px);
}
.two .blog_img img{
	border-radius:0px;
	}
section.blog_main_sec{
	padding-top:45px;
	padding-bottom:60px;
	}
.blog_article_wrap{
	padding-right:15px;
	padding-bottom:39px;
	border-bottom:1px solid #EBEBEB;
	margin-bottom:50px;
	}
.blog_article_wrap .blog_post h3 a{
	font-size:40px;
	}
.blog_article_wrap .blog_img{
	height:370px;
	position:relative;
	}
.blog_article_wrap .blog_img.blog_auto_height{
	height:auto;
	}
.blog_img .video-holder{
	width:100%;
	height:100%;
	position:relative;
	}
.blog_img{
	height:241px;
	}
.blog_img  a{
	display:block;
	width:100%;
	height:100%;
	}
.blog_img .video-holder a:before{
	position: absolute;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	display: block;
	width: 100%;
	height: 100%;
	content: "";
	background: rgba(219,71,102, 0) url(img/video/play.png) no-repeat center center;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d333333', endColorstr='#4d333333')
	}
.blog_img  a:before{
	position: absolute;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	display: block;
	width: 100%;
	height: 100%;
	content: "";
	background: rgba(0,0,0,0);
	}

.blog_img.single_blog a:before{
	background: rgba(0,0,0,0) url(img/zoom.png) no-repeat center center;
	display:none;
	border-radius:5px;
	}
.blog_img.single_blog a:hover:before{
	background: rgba(0,0,0,0.3) url(img/zoom.png) no-repeat center center;
	display:block;
	border-radius:5px;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width:100%;
	height:100%;
	}
.blog_img .video-holder a:before{
	opacity:0;
	filter: Alpha(Opacity=0);/*IE7 fix*/
	}
.blog_img .video-holder a:hover:before{
	background: rgba(0,0,0,0.5) url(img/video/play.png) no-repeat center center;
	border-radius:5px;
	opacity:1;
	filter: Alpha(Opacity=100);/*IE7 fix*/
	}
.blog_img  .flex-direction-nav a{
	width:25px;
	height:40px;
	font-size:20px;
	}
 /* rgba(219,71,102, 0.3)  */
.blog_article_wrap p.blog_bottom_line span{
	float:left;
	}
.blog_article_wrap p.blog_bottom_line span:nth-child(7){
	float:right;
	}
.blog_article_wrap p.blog_bottom_line{
	color: #3a3939;
	font-size: 14px;
	margin-top: 40px;
	display: block;
	float: left;
	width: 100%;
	line-height: 32px;
	}
p.blog_bottom_line span.blog-social{
	width:142px;
	height:35px;
	background:#C93D5B;
	display:block;
	padding:2px 1px;
	border-radius:4px;
	margin-left:7px;
	}
span.blog-social a i{
	color:#e4b8b8;
	}
span.blog-social a{
	line-height:32px;
	width:34px;
	display:block;
	float:left;
	text-align:center;
	background:#db4766;
	-webkit-transition:.5s;
	-moz-transition:.5s;
	-o-transition:.5s;
	transition:.5s;
	}
span.blog-social a:not(:nth-child(4)){
	border-right:1px solid #ED5D7B;
	margin-right:1px;
	}
span.blog-social a:hover{
	background:#C93D5B;
	border-color:#C93D5B;
	}
span.blog-social a:hover i{
	color:#ffffff;
	}	
	
.search-form .input-group{
	height:47px;
	border:1px solid #EBEBEB;
	border-radius:3px;
	}
.search-form .input-group input[type="text"]{
	height:47px;
	border:none;
	background:#ffffff;
	font-weight:300;
	box-shadow: 0px 0px 0px transparent;
	}
.search-form .input-group input[type="text"]:focus{
	box-shadow:none;
	}
.search-form .input-group .btn_src{
	height:47px;
	border:none;
	font-size:20px;
	color:#DBDBDB;
	background:#ffffff;
	}
.search-form .input-group .btn_src:hover{
	color:#db4766;
	
	}
.iframe{
	width:100%;
	height:100%;
	border:0;
	}
div#search, div#category, div#tags, div#archives,div#calender{
	display:block;
	float:left;
	margin-bottom:27px;
	width:100%;
	}
div#search{
	margin-bottom:52px;
	}
div#tags{
	margin-bottom:44px;
	}
#sidebar{
	display:block;
	float:left;
	padding:5px 10px;
	}
#sidebar ul{
	list-style: none;
	padding-left:0;
	margin-top:-15px;
}
#sidebar ul li{
	list-style: none;
	line-height: 40px;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	border-bottom:1px solid #EBEBEB;
}
#sidebar ul li:last-child{
	border-bottom:1px solid #FFFFFF;
	}
#sidebar ul li a{
	text-decoration:none;
	color:#656565;
	text-transform:initial;
	font-size:15px;
	font-weight:300;
	}
#sidebar ul li a:hover,#sidebar ul li a:focus{
	color:#db4766;
	}
#sidebar ul li a i{
	padding-right:10px;
	}

#tags a{
	background:#ffffff;
	line-height:27px;
	border:1px solid  #EBEBEB;
	padding:3px;
	color:#656565;
	font-weight:300;
	text-decoration:none;
	float:left;
	margin-right:8px;
	margin-bottom:8px;
	border-radius:3px;
	-webkit-transition:0.1s;
	transition: 0.1s;
	-webkit-transition: 0.1s;
	-moz-transition: 0.1s;
	-o-transition: 0.1s;
	transition: 0.1s;
	}

#tags a span{
	border-radius:3px;
	padding:4px 15px;
	border:1px solid #ffffff;
	-webkit-transition:0.25s;
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
	}
#tags a:hover{
	color:#ffffff;
	background:#db4766;
	border:1px solid #ffffff;
	padding:3px;
	text-decoration:none;
	float:left;
	border-radius:3px;
	}
#tags a:hover span{
	border-radius:3px;
	padding:4px 15px;
	border:1px solid #ED5D7B;
	}
#wp-calendar{
	width:100%;
	background:#F8F8F8;
	}
#wp-calendar caption{
	text-align:center;
	line-height:56px;
	color:#2d2d2d;
	font-size:22px;
	border:1px solid #DCDCDC;
	background:#F8F8F8;
	}
#wp-calendar tr{
	line-height:56px;
	}
#wp-calendar thead{
	background:#E5E5E5;
	border-right:1px solid #F1F1F1;
	border-left:1px solid #F1F1F1;
	}
#wp-calendar thead tr{
	
	}
#wp-calendar thead tr th
        {
	line-height:40px;
	color:#656565;
	font-size:18px;	
	font-weight:400;
    border-right:1px solid #F1F1F1;	
    }
#wp-calendar thead tr th:first-child{
	 border-left:1px solid #DCDCDC;
	 background:#db4766;
	 color:#ffffff;
	}
#wp-calendar tr td#today{
	 background:#db4766;
	 color:#ffffff;
	 box-sizing:padding-box;
	}
#wp-calendar thead tr th:last-child{
	border-color:#DCDCDC;
	}
#wp-calendar thead tr th{
	text-align:center;
	}
#wp-calendar tr td{
	border:1px solid #DCDCDC;
	text-align:center;
	color:#656565;
	}
#wp-calendar tbody tr td:first-child{
	color:#db4766;
	}
#wp-calendar tfoot tr td a{
	text-decoration:none;
	color:#db4766;
	}


/* Main blog articles style  */

.blog_main_sec .pagination > li > a, .blog_main_sec .pagination > li > span{
	font-size:16px;
	color:#656565;
	border:1px solid #EBEBEB;
	border-radius:3px;
	margin:0px 4px;
	background:#ffffff;
	padding:6px 12px 7px;
	transition:.2s;
	}
.blog_main_sec .pagination > li:first-child > span{
	margin-left:0px;
	}
.blog_main_sec .pagination > li:last-child > span{
	margin-right:0px;
	}

.blog_main_sec .pagination > li > a:hover, .blog_main_sec .pagination > li > span:hover,
.blog_main_sec .pagination > li > a:active, .blog_main_sec .pagination > li > span:active,
.blog_main_sec .pagination > li > a:focus, .blog_main_sec .pagination > li > span:focus,
.blog_main_sec .pagination > li.active > a, .blog_main_sec .pagination > li.active > span,
.blog_main_sec .pagination > li > a.active
{
	color:#ffffff;
	background:#DB4766;
	border:1px solid #DB4766;
	}
.disabled{
	
	}


/* Index2 style  */
/* Index2 style  */
/* Index2 style  */
.love_story_tab{
	padding-top:14px;
	}
.love_story_tab  .nav-tabs {
	text-align:center;
	border-bottom:none;
	margin-bottom:45px;
	}
.love_story_tab  .nav-tabs > li{
	position:relative;
	float:none;
	display:inline-block;
	border-bottom:2px solid #DCDCDC;
	padding:0px 13px 30px;
	margin-left:-5px;
	
	}
.love_story_tab  .nav-tabs > li:first-child{
	padding-left:40px;
	}
.love_story_tab  .nav-tabs > li:last-child{
	padding-right:40px;
	}
.love_story_tab  .nav-tabs > li.active:after{
	position:absolute;
	content:"";
	width:26px;
	height:16px;
	bottom:-2px;
	left:50%;
	margin-left:-13px;
	background:#f7f4f4 url(img/two/arrow.png) no-repeat center center;
	}
.love_story_tab  .nav-tabs > li:first-child:hover:after,.love_story_tab  .nav-tabs > li:first-child.active:after{
	left:69px;
	}
.love_story_tab  .nav-tabs > li:last-child:hover:after,.love_story_tab  .nav-tabs > li:last-child.active:after{
	left:45px;
	}
.love_story_tab  .nav-tabs > li > a{
	position:relative;
	width:62px;
	height:62px;
	}
.love_story_tab  .nav-tabs > li > a img{
	position:absolute;
	left:0;
	right:0;
	top:0;
	width:100%;
	transition:.4s;
	}
.love_story_tab  .nav-tabs > li > a,.love_story_tab  .nav-tabs > li.active > a{
	border-color:#F7F4F4;
	background:#F7F4F4;
	}
.love_story_tab  .nav-tabs > li > a img:first-child{
	opacity:1;
	filter: Alpha(Opacity=100);/*IE7 fix*/
	}
.love_story_tab  .nav-tabs > li > a img:last-child{
	opacity:0;
	filter: Alpha(Opacity=0);/*IE7 fix*/
	}
.love_story_tab  .nav-tabs > li:hover > a  img:first-child,.love_story_tab  .nav-tabs > li.active > a img:first-child{
	opacity:0;
	filter: Alpha(Opacity=0);
	border-color:#F7F4F4;
	background:#F7F4F4;
	}
.love_story_tab  .nav-tabs > li:hover > a  img:last-child,.love_story_tab  .nav-tabs > li.active > a img:last-child{
	opacity:1;
	filter: Alpha(Opacity=100);
	border-color:#F7F4F4;
	background:#F7F4F4;
	}




/* Index3 html */
/* Index3 html */
/* Index3 html */
.love_story_tab.three .nav-tabs{
	margin-right:-40px;
	}
.love_story_tab.three  .nav-tabs > li{
	float:left;
	display:block;
	border-bottom:none;
	border-right:2px solid #DCDCDC;
	padding:7px 19px 7px 15px;
	}
.love_story_tab.three .nav-tabs > li:first-child{
	padding-top:0;
	}
.love_story_tab.three .nav-tabs > li:last-child{
	padding-bottom:0;
	}
 .love_story_tab.three .nav-tabs > li.active:after{
	position: absolute;
	content: "";
	width: 26px;
	height: 16px;
	right: -7px;
	display:none;
	margin-top: -13px;
	background: #f7f4f4 url(img/two/arrow.png) no-repeat center center;
	transform: rotatez(-90deg);
	}
 .love_story_tab.three .nav-tabs > li.active:before{
	position: absolute;
	content: "";
	width: 26px;
	height: 16px;
	right: -7px;
	top: 50%;
	background: #f7f4f4 url(img/two/arrow.png) no-repeat center center;
	transform: rotatez(-90deg);
	margin-top: -8px;
	}
.love_story_tab.three  .nav-tabs > li:first-child:hover:before,.love_story_tab.three  .nav-tabs > li:first-child.active:before{
	margin-top:-15.5px;
	}
.love_story_tab.three  .nav-tabs > li:last-child:hover:before,.love_story_tab.three  .nav-tabs > li:last-child.active:before{
	margin-top:-.5px;
	}
.love_story_tab.three .tab-content{
	padding-top:38px;
	}
.love_story_tab.three .love_story_img{
	padding-left:33px;
	}
	
/* Family member carosel 3 */
.family_mem_caro_3 .family_mem_carosel .family_mem_img img{
	
	width:100%;
	}


/* INDEX 4 */
/* INDEX 4 */
/* INDEX 4 */
.bride_groom_sec.round .section-subheading{
	margin-bottom:66px;
	}
.bride_groom_sec_2.round{
	padding-bottom:90px;
	}
.round .br_grm{
	/* background:#FBF7F7; */
	background:#FFFFFF;
	padding:70px 70px 70px;
	transition:.5s;
	}
.round .br_grm h3{
	margin-top:29px;
	margin-bottom:24px;
	}
.round .br_grm .social_icons{
	margin:42px auto 0;
	}
.round .br_grm:hover{
	background:#FBF7F7;
	}
.round .br_grm:hover .brgm_overlay{
	opacity:0;
	filter: Alpha(Opacity=0);
	}
.round .brd_grm_wrap:hover .brgm_overlay{
	opacity:1;
	filter: Alpha(Opacity=100);
	}
.round .brd_grm_img{
	padding:0;
	filter: Alpha(Opacity=0);
	height:255px;
	}
.round .brd_grm_wrap{
	width:255px;
	height:255px;
	box-sizing:border-box;
	border-radius: 50%;
}
.round .brd_grm_img img.img-circle{
	border-radius:50%;
	width:100%;
	border: 10px solid #dbdbdb;
	height:255px;
}
.round .brgm_overlay{
	background:rgba(219, 71, 102, 0.7);
	position:absolute;
	opacity:0;
	filter: Alpha(Opacity=0);
	text-align:center;
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	transition : all 0.5s ease;
	border-radius: 50%;
	border: 10px solid #dbdbdb;
}
.round .br_gr_zoom{
	top: 108px;
	position: relative;
	}
	
/* Family member tab */

.family_member_wrap.four{
	padding:70px 0px 75px;
	}
.family_tab_4 .family_mem_wrap{
	text-align:center;
	padding-right:25px;
	padding-left:25px;
	}
.four .family_mem_wrap h3{
	margin-top:27px;
	}
.four .family_mem_wrap p.relation{
	margin-bottom:11px;
	}
.family_tab_4 .family_mem_wrap .family_mem_img{
	width:101%;
	max-width:215px;
	height:100%;
	padding:0;
	border: 10px solid #dbdbdb;
	border-radius: 50%;
	overflow:hidden;
	position:relative;
}
.family_tab_4 .family_mem_wrap .family_mem_img img{
	width:100%;
	height:100%;
	}
.family_tab_4 .nav-tabs{
	border-bottom:none;
	text-align:center;
	margin-bottom:52px;
	}
.family_tab_4 .nav-tabs > li{
	float:none;
	display:inline-block;
	position:relative;
	margin:0 6px;
	}
.family_tab_4 .nav-tabs > li a:after{
	position:absolute;
	content:"";
	width:0px;
	height:0px;
	background:transparent;
	transform:rotatez(45deg);
	bottom: -6px;
	right: 50%;
	margin-left:-5px;
	z-index:10;
	transition:.15s;
	}
.family_tab_4 .nav-tabs > li.active a:after{
	position:absolute;
	content:"";
	width:10px;
	height:10px;
	background:#db4766;
	transform:rotatez(45deg);
	bottom: -6px;
	right: 50%;
	margin-left:-5px;
	z-index:10;
}
.family_tab_4 .nav-tabs > li > a{
	position:relative;
	line-height:54px;
	padding:0px 20px;
	color:#414141;
	background:#EBEBEB;
	border-color:#EBEBEB;
	font-size:22px;
	font-family: 'Athiti', sans-serif;
	border-radius:0;
	text-transform:capitalize;
	transition:.35s;
	font-weight:300;
	z-index:999;
	}
.family_tab_4 .nav-tabs > li > a:hover{
	border-color:#6B6B6B;
	background:#6B6B6B;
	color:#ffffff;
	}
.family_tab_4 .nav-tabs > li.active > a{
	transition:.35s;
	}
.family_tab_4 .nav-tabs > li.active > a, .family_tab_4 .nav-tabs > li.active > a:hover, .family_tab_4 .nav-tabs > li.active > a:focus{
	border-color:#db4766;
	background:#db4766;
	color:#ffffff;
	}
.family_tab_4 .brgm_overlay{
	background:rgba(219, 71, 102, 0.7);
	position:absolute;
	opacity:0;
	filter: Alpha(Opacity=0);
	text-align:center;
	top:0;
	left:0;
	right:0;
	bottom:0;
	border-radius:50%;
	width:100%;
	transition : all 0.5s ease;
	}
.family_tab_4 .family_mem_wrap:hover .brgm_overlay{
	opacity:1;
	filter: Alpha(Opacity=100);
	}
.family_tab_4 .family_mem_wrap:hover .social_icons{
	opacity:1;
	}

.family_member_wrap .brgm_overlay .social_icons{
	display: table;
	position: relative;
	margin-top: 82px;
	margin-right: auto;
	margin-left: auto;
	opacity:0;
	transition:.4s;
	-webkit-transition-delay:.4s;
	transition-delay:.4s;
}
.four .family_member_wrap .brgm_overlay .social_icons a{
	border-color:#eed1d0;
	color:#eed1d0;
	}
.four .family_member_wrap .brgm_overlay .social_icons a:hover{
	border-color:#ffffff;
	color:#ffffff;
	}
/* bridemaid GroomsMen section four */
.four section.wedding-sec .section-head{
	padding-left:145px;
	padding-right:145px;
	}
 .bmaid_gmen_sec.four .nav-tabs > li > a{
	 width:105px;
	 height:105px;
	 }
.bmaid_gmen_sec.four .nav-tabs{
	bottom:-52px;
	}
.bmaid_gmen_sec.four .bridemaid_tab_content,.bmaid_gmen_sec.four .groomsmen_tab_content{
	padding-top:54px;
	}
.bmaid_gmen_sec.four .social_icons{
	margin-top:35px;
	}
.wed .modal-footer .social_icons{
	margin: 0px auto;
	/* margin-left:auto; */
	display: table;
	float: none;
	/* margin-right: auto; */
	}

.four .br_grm .social_icons a, .four .family_member_wrap .social_icons a,.four  .bmaid_gmen_sec .social_icons a,.three-ind  .bmaid_gmen_sec .social_icons a,.wed .modal-footer .social_icons a {
	display: table;
	position: relative;
	height : 32px;
	width : 32px;
	border:2px solid #9e9d9d;
	float: left;
	font-size: 15px;
	text-align : center;
	background : transparent;
	color : #9e9d9d;
	border-radius : 50%;
	line-height : 26px;
	transition : all 0.25s ease;
	margin-right:4px;
	margin-left:4px;
}
.four .br_grm .social_icons a:hover, .four .family_member_wrap .social_icons a:hover,.four  .bmaid_gmen_sec .social_icons a:hover,.three-ind  .bmaid_gmen_sec .social_icons a:hover,.wed .modal-footer .social_icons a:hover {
	border:2px solid #db4766;
	background : transparent;
	color : #db4766;
	}


.bridemaid .social_icons a:last-child {
margin-right:0px;
}
.groomsmen .social_icons a:first-child{
margin-left:0px;	
	}
/* Audio style */

.jp-audio{
	width:100%;
	}
.jp-audio .jp-controls{
	width:100%;
	padding:30px 20px 0;
	}
.jp-audio .jp-type-single .jp-progress{
	width:68%;
	top:42px;
	}
@media only screen and (max-width:1200px){
	
	}
.jp-volume-controls{
	left:84%;
	top:42px;
	}
.jp-audio .jp-time-holder{
	top:60px;
	}
.jp-details{
	display:none;
	}
.jp-audio, .jp-audio-stream, .jp-video{
	border:1px solid #E1E1E1;
	border-radius:5px;
	}
.jp-audio .jp-interface, .jp-audio-stream .jp-interface{
	height:100px;
	}
/* Audio style  */	
	
	
/* Blog section end */
.scrollup{
	position: fixed;
	right: 4.5%;
	bottom: 105px;
	width: 40px;
	height: 40px;
	background: rgba(219,71,102, 0.7);
	color: #fff;
	font-weight: bold;
	border-radius: 4px;
	text-align: center;
	display:none;
	z-index: 9999;
	padding: 7px 0px;
	cursor:pointer;
	right: 50px;
	transition:.5s;
	}
.scrollup.two{
	border-radius: 0px;
	}
#toTop:hover{
	background: rgba(219,71,102, 1);
	
	}
#toTop a{
	font-size:17px;
	color:#fff;
	display:block;
	
	}

/*  Bride Groom Modal */
body.modal-open {
    overflow: hidden;
}

.modal-open .modal{
	z-index:9999;
	}
.wed .modal-dialog{
	margin-top:70px;
	text-align:center;
	
	}
@media (min-width:768px){
	.wed .modal-dialog{
	width:530px;	
	}
	}

.modal-img,.modal-txt{
	width:100%;
	text-align:center;
	}
.modal-txt{
	height:160px;
	overflow-y:scroll;
	}
.wed .modal-body{
	padding:20px 20px 34px;
	}
.wed .modal-content {
	border-radius:0;
	}

.wed .modal-img img{
	max-width:100%;
	border:5px solid #dbdbdb;
	}
.wed .close span{
	font-size:25px;
	color:#C53F5B;
	}

.wed h4.modal-title{
	font-size: 48px;
	color: #393838;
	margin-top: 21px;
	margin-bottom: 19px;
	font-weight: 400;
	text-transform:capitalize;
	}
.wed .modal-header{
	border-bottom:none;
	}
.cls-wed{
	background:#db4766;
	border-color:#db4766;
	color:#ffffff;
	}
.cls-wed:hover{
	background:#c53f5b;
	border-color:#c53f5b;
	color:#ffffff;
	}
	
/* Timeline */

.lovestory_timeline_sec{
	padding-bottom:0;
	}

.timeline_sec{
	background:#FBF7F7;
	padding-bottom:78px;
	}


.timeline {
    position: relative;
    padding: 70px 0px 0px;
    list-style: none;
}

.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 4px;
    margin-left: -1.5px;
    background-color: #DB4766;
}

.timeline>li {
    position: relative;
    margin-bottom: 60px; 
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -9px;
	position:absolute;
	content:"";
	width:18px;
	height:18px;
	background:#FFFFFF;
	border-left:1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
	border-right:1px solid #ffffff;
	border-top:1px solid #ffffff;
	transform:rotatez(45deg);
	z-index:-1;
}


.timeline>li.left-panel{
	
	}


.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li .timeline-panel {
    float: right;
    position: relative;
    width: 85%;
    padding:14px 20px 20px;
    text-align: left;
	background:#FFFFFF;
	border:1px solid #e8e8e8;
	z-index:999;
}



.timeline>li .timeline-image {
    z-index: 100;
    position: absolute;
    left: 7px;
    width: 69px;
    height: 69px;
    margin-left: 0;
    border: 4px solid #FBF7F7;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    background-color: #FBF7F7;
	transition:.4s;
	transform:rotatey(360deg);
}

.timeline>li .timeline-image.more{
	background:#DB4766;	
	height:102px;
	width:102px;
	margin-left:-18.5px;
	}


.timeline>li .timeline-image.more a{
	text-decoration: none;
	border: 3px solid #db4766;
	background: #fff;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	padding:3px;
	}
.timeline>li .timeline-image.more a .inner-more{
	background:#db4766;
	border-radius:50%;
	}
.timeline>li .timeline-image.more  p{
	text-decoration:none;
	color:#ffffff;
	line-height:82px;
	font-size:22px;
	font-weight:500;
	
	}
.timeline>li .timeline-image.more:hover .inner-more{
	background:#c53f5b;
	}
.timeline>li .timeline-image h4 {
    margin-top: 12px;
    font-size: 10px;
    line-height: 14px;
}
.timeline-heading p.posting_date{
	margin-bottom:9px;
	}
.timeline-heading h3{
	margin-top: 0px;
    margin-bottom: 13px;
	font-size: 40px;
	color: #db4766;
	font-weight: 400;
	text-transform: initial;
	}
.timeline-heading h3::first-letter{
	text-transform:capitalize;
	}
.timeline_img img{
	width: 100%;
	height:auto;
	border-radius: 0px;
	}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding:14px 20px 20px;
    text-align: left;
	height:auto;
	
   }


	
.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}


.timeline>li:last-child  {
	margin-top:0px;
	margin-bottom: 0;
	min-height:100px;
	}
.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
}

.timeline .timeline-heading h4.subheading {
    text-transform: none;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0;
}
@media only screen and (max-width:414px){
	.timeline_img img{
	}
	.timeline>li.timeline-inverted>.timeline-panel,.timeline>li >.timeline-panel{
	padding:8px;	
	}
	.timeline-heading h3{
	font-size:28px;	
	}
	}
@media(min-width:240px) {
	.timeline>li .timeline-panel{
	width:65%;
	z-index:9999;
	}
	}
@media(min-width:414px) {
	.timeline>li .timeline-panel{
	width:75%;	
	}
	}
@media(min-width:769px) {
	.timeline_img img{
	width: 100%;
	height: 251px;
	
	border-radius: 0px;
	}
    .timeline:before {
        left: 50%;
		margin-left:-1px;
    }
    .timeline>li.timeline-inverted>.timeline-panel.right-panel:before {
    right: auto;
    left: -9px;
	position:absolute;
	content:"";
	width:18px;
	height:18px;
	background:#FFFFFF;
	border-left:1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
	border-right:1px solid #ffffff;
	border-top:1px solid #ffffff;
	transform:rotatez(45deg);
	z-index:-1;
}

    .timeline>li >.timeline-panel.left-panel:before {
	position:absolute;
	content:"";
	left:100%;
	margin-left:-9px;
	width:18px;
	height:18px;
	background:#FFFFFF;
	border-left:1px solid #ffffff;
	border-top:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;
	
	transform:rotatez(45deg);
	}
    .timeline>li {
        /* min-height: 100px; */
    }
    .timeline>li.left  {
	margin-top:-224px;
	} 
	
    .timeline>li.right:not(:first-child)  {
	margin-top:-80px;
	
	}
	
     
    .timeline>li .timeline-panel {
        float: left;
        width: 43.65%;
        padding:14px 20px 20px;
        text-align: left;
		z-index:999;
    }

    .timeline>li .timeline-image {
        left: 50%;
        width: 69px;
        height: 69px;
        margin-left: -34px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 16px;
        font-size: 13px;
        line-height: 18px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
    .timeline>li.timeline-inverted>.timeline-panel.right-panel:before {
    right: auto;
    left: -9px;
	top:20px;
	position:absolute;
	content:"";
	width:18px;
	height:18px;
	background:#FFFFFF;
	border-left:1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
	border-right:1px solid #ffffff;
	border-top:1px solid #ffffff;
	transform:rotatez(45deg);
}

.timeline>li >.timeline-panel.left-panel:before {
	position:absolute;
	content:"";
	left:100%;
	margin-left:-9px;
	top:25px;
	width:18px;
	height:18px;
	background:#FFFFFF;
	border-left:1px solid #ffffff;
	border-top:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;
	border-bottom:1px solid #ffffff;
	transform:rotatez(45deg);
	}
	.timeline>li .timeline-image.more {
	background:#DB4766;	
	height:102px;
	width:102px;
	margin-left:-50.5px;
	
}
	
}

@media(min-width:992px) {
    .timeline>li {
  
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px;
    }
    .timeline>li.left  {
	   margin-top:-310px;
	} 
	 .timeline>li.right:not(:first-child)  {
	margin-top:-120px;
	
	}
   
    .timeline>li .timeline-image h4 {
        margin-top: 30px;
        font-size: 18px;
        line-height: 26px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding:14px 20px 20px;
    }
}

@media(min-width:1200px) {
    .timeline>li {
     /* min-height: 170px;    */
    }

    .timeline>li .timeline-panel {
        padding:14px 20px 20px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 40px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding:14px 20px 20px;
    }
}
.timeline-body{
	position:relative;	
	}
div.overlay_tml{
	background:rgba(219, 71, 102, 0.8);
	top: 8px;
	left: 8px;
	right: 8px;
	bottom: 8px;
	display: block;
	float: left;
	opacity:0;
	transition:.4s;
	position: absolute;
	background:rgba(219, 71, 102, 0.8);
	}
div.overlay_tml .overlay_text{
	width:100%;
	height:100%;
	display:table;
	position:relative;
	}
div.overlay_tml .inner-extra{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	color:#fff;
	}
div.overlay_tml .inner-extra a{
	position:relative;
	top:-80px;
	transition:.35s;
	}
div.overlay_tml .inner-extra p{
	position:relative;
	color:#fff;
	bottom:-80px;
	transition:.35s;
	font-size:18px;
	}
div.overlay_tml .inner-extra p::first-letter{
	text-transform:capitalize;
	}
div.overlay_tml a img{
	width:38px;
	height:38px;
	}
div.timeline_img:hover div.overlay_tml{
	opacity:1;
	}
div.timeline_img:hover .inner-extra a{
	top:0;
	}
div.timeline_img:hover .inner-extra p{
	bottom:0;
   }
/* Timeline End*/	
	
	
	
	
/* PRELOAD */

#preload {
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    width: 100%;
    height: 100%; 
    z-index: 9999999;
    display:table;
}
#preload {
	background: #fff;
}
.preload {
    display:table-cell;
    vertical-align:middle;
    width: 100%;
    height: 100%;
}

#logo_n{
	padding-left:16px;
	z-index:999999;
	margin-top:-165px;
	margin-left:20px;
	}

.loader {
    margin: 3em auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
.loader {
	border-top: 1.1em solid #fff;
	border-right: 1.1em solid #fff;
	border-bottom: 1.1em solid #fff;
	border-left: 1.1em solid #db4766;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.tab-content .tab-pane {    
    position: relative;
}

.slide_text_wrap{
	width:100%;
	position:absolute;
	top:24%;
	display:block;
	}

.slider-text{
	margin:0 auto;
	color:#ffffff;
	text-align:center;
	}
.slides h2.slider-head{
	margin-top: 0;
	margin-bottom: 15px;
	font-size: 100px;
	font-weight: 400;
	margin-bottom:8px;
	}
.slides  p{
	font-size:18px;
	font-weight:300;
	color:#ffffff;
	text-transform:initial;
	}
.countdown{
	bottom: 30px;
	left: 50%;
	margin:0 auto;
	
	width: 46.15%;
	z-index: 100;
	}
.countdown-wrap{
	position: absolute;
	width: 100%;
	bottom: 23.75%;
	display: block;
	float: left;
	z-index: 9999;
}
.countdown_section{
	 display:block;
	 width:18.4%;
	 height:105px;
	 font-size:20px;
	 margin:0 .8%;
	 line-height:15px;
	 text-shadow:none;
	 float:left;
	 font-weight: 300;
	 text-transform:capitalize;
	 background:url(img/time_hrt.png) no-repeat center center;
	 background-size:100% 100%;
	}
.countdown_amount{
	 display:block;
	 width:100%;
	 height:105px;
	 font-size: 40px;
	 line-height: 90px;
	 color:#ffffff;
	 text-align: center;
	
	}
.countdown_descr{display:block;}
.countdown_show{}
.countdown_holding{}

.new_slide{
	z-index:9999;
	}
	
	
/* Index three new style */
/* Index three new style */
/* Index three new style */
/* Index three new style */

.three-ind{
	
	}
.three-ind .four .br_grm .social_icons a, .three-ind .four .family_member_wrap .social_icons a, .three-ind .four .bmaid_gmen_sec .social_icons a, .three-ind .bmaid_gmen_sec .social_icons a, .three-ind .wed .modal-footer .social_icons a{
	border-radius:0;
	}
.three-ind .social_icons a{
	border-radius:0;
	}
.three-ind footer .social_icons li a{
	width:32px;
	height:32px;
	}
.three-ind .navbar-default .navbar-nav li a.current {
	background:transparent;
	}
.three-ind .navbar-default .navbar-nav > li.active > a.current{
	background:transparent;
	}

.video-bg-self-2{
	width: 100%;
	float:left;
	display:block;
	/* padding: 252px 0px 398px 0px; */
	}
.three-ind section.main-slider{
	padding-top:0;
	}

.three-ind .navbar-default {
	background:rgba(219,71,102,0.5);
	}
.three-ind .navbar-default .navbar-collapse{
	background:rgba(219,71,102,0);
	}
.navbar-default.navbar-shrink,.navbar-default.navbar-shrink .navbar-collapse{
	background:rgba(219,71,102,1);
	}
.video-bg-self-2 .ui-video-background li a{
	position: relative;
	color: #fff;
	text-decoration:none;
	text-indent:99999px;
	width: 66px;
	height: 66px;
	display:none;
	margin:0 auto;
	border-radius:50%;
}
.video-bg-self-2 a.ui-icon-play{
	background:url(img/video/play.png) no-repeat center center;
	}
.video-bg-self-2 a.ui-icon-play:hover{
	background:rgba(255,255,255,0.2) url(img/video/play.png) no-repeat center center;
	}

.video-bg-self-2 a.ui-icon-pause{
	background:url(img/video/pause.png) no-repeat center center;
	opacity:0;
	filter: Alpha(Opacity=0);
	transition:.35s;
	}
.video-bg-self-2 a.ui-icon-pause:hover{
	background:rgba(255,255,255,0.2) url(img/video/pause.png) no-repeat center center;
	}
.three-ind section.main-slider .video_background_sec:hover a.ui-icon-pause{
	opacity:1;
	filter: Alpha(Opacity=100);
	}
.video-bg-self-2 .ui-video-background li:hover{
	
}  

/* Countdown Three */

.three-ind .countdown{
	width:520px;
	min-height:1px
	}
.three-ind .countdown_section{
	background:rgba(219,71,102,0.8);
	margin:0;
	height:126px;
	overflow:hidden;
	line-height:105px;
	}
.three-ind .countdown_amount{
	position:relative;
	font-size:50px;
	height:126px;
	line-height:126px;
	/* margin-left:-10px; */
	text-indent:-25px;
	}
.three-ind .countdown_section .countdown_amount:after{
	content:"";
	position:absolute;
	font-size:28px;
	color:#fea3b6;
	font-weight:300;
	top:6px;
	right:3px;
	}
.three-ind .countdown_section:nth-child(1) .countdown_amount:after{
	content:"M";
	}
.three-ind .countdown_section:nth-child(2) .countdown_amount:after{
	content:"D";
	}
.three-ind .countdown_section:nth-child(3) .countdown_amount:after{
	content:"H";
	}
.three-ind .countdown_section:nth-child(4) .countdown_amount:after{
	content:"M";
	}
.three-ind .countdown_section:nth-child(5) .countdown_amount:after{
	content:"S";
	}
.three-ind .countdown_section:not(:nth-child(5)){
	border-right:1px solid #bc3652;
	}

/* Countdown Three end*/
 
 /* Bride groom 3 */
 .three-ind  .brd_grm_wrapper{
	 background:#fff;
	 padding-top:0px;
	 }
.three-ind  .brd_grm_wrapper .col-md-6:first-child{
	padding-left:0px;
	}
.three-ind  .brd_grm_wrapper .col-md-6:last-child{
	padding-right:0px;
	}
.three-ind  .br_grm{
	padding:10px 10px 40px;
	background:#FFFFFF;
	transition:.45s;
	}
.three-ind  .br_grm:hover{
	background:#FBF7F7;
	}
.three-ind  .brgm_overlay{
	height:0%;
	}
.three-ind  .family_mem_img:hover .brgm_overlay,.three-ind .brd_grm_img:hover .brgm_overlay{
	height:100%;
	}
.three-ind  .family_mem_img:hover .brgm_overlay a,.three-ind .brd_grm_img:hover .brgm_overlay a{
	opacity:1;
	filter: Alpha(Opacity=100);
	}
.three-ind   .brd_grm_wrapper .brgm_overlay a{
	margin-top: -19px;
	position:relative;
	top:50%;
	opacity:0;
	filter: Alpha(Opacity=0);
	transition:.4s;
	-webkit-transition-delay: .4s; /* Safari */
    transition-delay: .4s;
	}
/* .three-ind  .family_mem_img:hover .brgm_overlay a,.three-ind .brd_grm_img:hover .brgm_overlay a{
	top:50%;
	} */
.three-ind  .br_grm h3{
	margin-top:30px;
	}
.three-ind  .br_grm p:first-of-type{
	padding:0px 40px;
	}
 .three-ind .brd_grm_wrap{
	 width:100%;
	 height:315px;
	 }
.three-ind  .brd_grm_img{
	padding:0;
	height:auto;
	}
.three-ind  .brd_grm_img > img{
	width:100%;
	height:100%;
	}
	
/* Love story tab 3 */
.three-ind  .love_story_tab .nav-tabs > li > a{
	width:76px;
	height:76px;
	}

/* Our Family  */
.three-ind  .family_tab_4 .family_mem_wrap{
	padding-right: 15px;
	padding-left: 15px;
	}
.three-ind  .family_tab_4 .family_mem_wrap .family_mem_img{
	border-radius:0;
	width:100%;
	max-width:100%;
	height:auto;
	padding:0;
	border:none;
	}
.three-ind  .family_tab_4 .brgm_overlay{
	border-radius:0;
	}
.three-ind  .family_tab_4 h2{
	font-size:45px;
	color:#535252;
	font-weight:400;
	margin-top:0;
	margin-bottom:45px;
	text-align:center;
	text-transform:capitalize;
	}
.three-ind  .family_member_wrap .brgm_overlay .social_icons{
	top:50%;
	margin-top:-15px;
	}
.family-wrap-3{
	width:100%;
	float:left;
	
	}
.family-wrap-3.bride-family-3{
	padding-bottom:50px;
	border-bottom:1px solid #E3E3E3;
	}
.family-wrap-3.groom-family-3{
	padding-top:70px;
	}
	
/* Bridemaid GroomsMen */
.three-ind  .bmaid_gmen_sec .nav-tabs > li > a,.three-ind  .bmaid_gmen_sec .nav-tabs > li > a > img{
	border-radius:0;
	}
.three-ind .bridemaid_tab_content, .three-ind .groomsmen_tab_content{
	border-radius:0;
	}
	
section{
	max-width:100%;
	overflow-x:hidden;
	}
